body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
}
.container{
    border: 1px solid #b4b4b4;
    height: 420px;
    width: 350px;
    margin-bottom: 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
input{
    appearance: none;
    width: 268px;
    height: 36px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #f1f1f1;
    border:1px solid #8a8a8a;
    padding-left: 10px;
}
.img_inst{
    cursor: pointer;

}


.btn{
    cursor: pointer;
    width: 274px;
    height: 35px;
    border: none;
    background-color: #5498f5;
    border-radius: 10px;
    color: #ffffff;
    margin-top: -30px;
}
.huge{
    text-transform: uppercase;
    color: #8b8b8c;
    font-weight: bold;
    margin-top: -15px;
}
.fb{
    display: flex;
    justify-content: space-around;
}
.fb_log{
    text-decoration: none;
    color: #4435af;
    font-weight: bold;
}
.text_color{
    text-decoration: none;
    color: #4435af;
    font-size: small;
    font-weight: bold;
}

.bttm_div{
    border: 1px solid#b4b4b4;
    height: 65px;
    width: 350px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.88em;
}
.log_on{
    text-decoration: none;
    color: #5498f5;
    margin-left: 5px;

}