body{
    margin: 0;
    height: 100vh;
    width: 100vw;

}
header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    width: 100vw;
    background-color: #c5c0c0;

}
footer{

    background-color: #757272;
}
.center{
    display: flex;
    height: 60vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content1, .content2, .content3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    width: 60vw;
    background-color: #7c5e5e;
}
.content2{
    background-color: #814949;
}
.content3{
    background-color: #442121;

}
.side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}
.span1{
    height: 30vh;
    background-color: #e18f8f;


}
.span2{
    height: 30vh;
    background-color: #5b4444;
}
main{
    display: flex;
    color:#ffffff;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
