
body{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);


}
.item1{
    grid-column: 1/6;
    height: 30vh;

}
.item2{
    grid-column: 1/5;
    grid-row-end: 3;

    height: 30vh;


}
.container{
    grid-column: 1/5;
    grid-row-end: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;

}
.item6{
    grid-column: 5/6;
    grid-row: 2/5;

}

.item3, .item4, .item5 {

    height: 30vh;
    width: 13vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item1, .item2, .item6{
    display: flex;
    justify-content: center;
    align-items: center;
}